@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
    --primary-color: #0077b6;
    --secondary-color: #023e8a;
    --accent-color: #00b4d8;
    --text-color: #03045e;
    --background-color: #caf0f8;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

header img {
    height: 50px;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

#history {
    margin-bottom: 40px;
}

#adventures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#adventures figure {
    margin: 0;
    text-align: center;
}

#adventures img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
}

footer .social-media {
    display: flex;
    justify-content: flex-end;
}

footer .social-media img {
    height: 30px;
    margin-left: 10px;
}

#employee-profiles .employee {
    display: inline-block;
    text-align: left;
    margin: 10px;
    
}

#contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input, #contact-form textarea, #contact-form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
}

#contact-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #45a049;
}

.employee img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
}
