@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: auto;
}

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Raleway', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    --nav-bg-color: var(--primary-color);
    --nav-link-color: #ffffff;
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-bg-color: var(--accent2-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--nav-link-color);
}

p {
    padding: 10px 0;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
    padding: 5px;
}

footer {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    text-align: center;
}

.hero{
    display: block;
    width: 100%;
    height: auto;
}

